@charset "UTF-8";
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  background-color: #ffffff;
  height: 100%;
  color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

/*--CONTAINER----CONTAINER----CONTAINER--*/
._container {
  max-width: 1206px;
  margin: 0px auto;
}

/*--CONTAINER----CONTAINER----CONTAINER--*/
/* --HEADER----HEADER----HEADER-- */
.header {
  position: relative;
  padding: 34px 10px;
}
.header_container {
  display: flex;
  align-items: center;
}
.header_box {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu_list {
  position: relative;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu_item {
  cursor: pointer;
}
.header_menu_item:hover {
  font-weight: 800;
}
.header_menu_item:not(:last-child) {
  margin-right: 40px;
}
.header_menu_item:nth-child(2) {
  margin-right: 235px;
}
.header_menu_button {
  margin-right: 10px;
  display: none;
}
@media (max-width: 768px) {
  .header_menu_list {
    display: none;
  }
  .header_menu_button {
    z-index: 10;
    margin-left: auto;
    display: block;
    cursor: pointer;
  }
}

/* --HEADER----HEADER----HEADER-- */
/* --MAIN----MAIN----MAIN-- */
.main {
  padding: 0px 10px;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* --MAINPAGE----MAINPAGE----MAINPAGE-- */
  /* --MAINPAGE----MAINPAGE----MAINPAGE-- */
  /* --STEPS----STEPS----STEPS-- */
  /* --STEPS----STEPS----STEPS-- */
}
.main_container {
  position: relative;
  width: 100%;
}
.main_mainpage {
  margin-top: 90px;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}
.main_mainpage_info {
  align-self: flex-end;
  padding: 0px 10px;
  position: relative;
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
}
.main_mainpage_info_h {
  position: absolute;
  top: -450%;
  left: 35%;
  font-weight: 700;
  font-size: 50px;
  line-height: 106%;
  text-transform: uppercase;
  z-index: 10;
}
.main_mainpage_info_text {
  font-weight: 400;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  transform: translateY(30px);
}
.main_mainpage_box {
  z-index: 2;
  flex: 1 1 30%;
  position: relative;
  border: #000000 2px solid;
}
.main_mainpage_box_img {
  width: 100%;
  transform: translate(29px, -36px);
}
.main_mainpage_box:last-child {
  z-index: 1;
  flex: 1 1 30%;
  position: relative;
  border: #000000 2px solid;
  margin-top: -65px;
  margin-right: 29px;
}
.main_mainpage_box:last-child > img {
  width: 100%;
  transform: translate(30px, 35px);
}
.main_mainpage_box_1 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 100%;
  top: -100%;
  left: 90%;
}
.main_mainpage_box_2 {
  background-color: #000000;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 2px;
  height: 100%;
  top: -100%;
  left: 90%;
}
.main_mainpage_box_3 {
  background-color: #000000;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 2px;
  height: 100px;
  left: 0%;
  top: 90%;
}
.main_mainpage_box_4 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 550px;
  left: -102px;
  top: 90%;
}
.main_mainpage_box_5 {
  background-color: #000000;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 2px;
  height: 100px;
  left: 0%;
  top: 936px;
}
@media (max-width: 1000px) {
  .main_mainpage_info_h {
    left: 30%;
    font-size: 40px;
  }
  .main_mainpage_info_text {
    width: 200px;
    font-size: 20px;
    transform: translateY(20px);
  }
}
@media (max-width: 1250px) {
  .main_mainpage_box_4 {
    display: none;
  }
  .main_mainpage_box_5 {
    display: none;
  }
}
@media (max-width: 768px) {
  .main_mainpage {
    flex-direction: column;
    margin-top: 30px;
    align-items: baseline;
  }
  .main_mainpage_info {
    align-self: flex-start;
  }
  .main_mainpage_info_h {
    position: relative;
    margin-top: 13px;
    margin-bottom: 0px;
    width: 180px;
    left: 0%;
    font-size: 20px;
  }
  .main_mainpage_info_text {
    display: none;
  }
  .main_mainpage_box {
    margin-right: 150px;
  }
  .main_mainpage_box_img {
    width: 100%;
    transform: translate(29px, -36px);
  }
  .main_mainpage_box:last-child {
    align-self: flex-end;
    margin-top: -25px;
    margin-right: 29px;
    margin-left: 150px;
  }
  .main_mainpage_box:last-child > img {
    width: 100%;
    transform: translate(30px, 35px);
  }
}
.main_steps {
  position: relative;
  margin-top: 300px;
}
.main_steps_info {
  font-weight: 400;
  font-size: 20px;
  line-height: 106%;
  text-align: center;
}
.main_steps_box {
  margin-top: 78px;
  display: flex;
  align-items: center;
}
.main_steps_box > img {
  width: 100%;
  padding: 2px;
  flex: 1;
}
@media (max-width: 1230px) {
  .main_steps_box > img:nth-child(2n) {
    width: 100px;
  }
}
@media (max-width: 1040px) {
  .main_steps_box > img {
    width: 50px;
  }
  .main_steps_box > img:nth-child(2n) {
    width: 50px;
  }
}
@media (max-width: 768px) {
  .main_steps {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */