@charset "UTF-8";
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  background-color: #ffffff;
  height: 100%;
  color: #000000;
}
html.active,
body.active {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

/*--CONTAINER----CONTAINER----CONTAINER--*/
._container {
  max-width: 1206px;
  margin: 0px auto;
}

/*--CONTAINER----CONTAINER----CONTAINER--*/
/* --HEADER----HEADER----HEADER-- */
.header {
  position: relative;
  padding: 34px 10px;
}
.header_container {
  display: flex;
  align-items: center;
}
.header_leng {
  z-index: 13;
  position: absolute;
  left: 30px;
  font-size: 12px;
  line-height: 106%;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
}
.header_leng > a {
  color: #000000;
}
.header_box {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 11;
}
.header_menu_list {
  z-index: 12;
  position: relative;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu_item {
  z-index: 13;
  position: relative;
  cursor: pointer;
  color: #000000;
  padding: 7px 10px;
}
.header_menu_item_box {
  display: none;
}
.header_menu_item:hover {
  border: #000000 2px solid;
}
.header_menu_item:hover::before {
  content: "";
  position: absolute;
  top: 0;
  right: 50%;
  width: 2px;
  height: 50px;
  background-color: #000000;
  transform-origin: top left;
  transform: rotate(180deg);
}
.header_menu_item:not(:last-child) {
  margin-right: 20px;
}
.header_menu_item:nth-child(3) {
  margin-right: 215px;
}
.header_menu_button {
  z-index: 15;
  margin-right: 20px;
  display: none;
}
@media (max-width: 768px) {
  .header_leng {
    text-align: end;
    bottom: 200px;
    right: 50px;
    font-weight: 500;
    font-size: 20px;
    line-height: 106%;
    cursor: pointer;
  }
  .header_leng > a {
    color: #fff;
  }
  .header_menu_list {
    background-color: rgba(0, 0, 0, 0.7450980392);
    position: absolute;
    top: -35px;
    height: 101vh;
    left: 110%;
    padding: 110px 54px 70px 70px;
    width: 107%;
    flex-direction: column;
    align-items: baseline;
    justify-content: flex-start;
    transition: all 0.5s ease;
  }
  .header_menu_list.active {
    left: -10px;
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .header_menu_item {
    font-weight: 500;
    font-size: 20px;
    line-height: 106%;
    text-transform: uppercase;
    margin-right: 0px;
    margin-bottom: 40px;
    color: #ffffff;
  }
  .header_menu_item:hover {
    border: none;
  }
  .header_menu_item:hover::before {
    content: none;
  }
  .header_menu_item_box {
    width: 100%;
    display: flex;
    margin-top: auto;
  }
  .header_menu_item_box_logo {
    margin-top: auto;
    display: flex;
    flex-direction: column;
  }
  .header_menu_item_box_logo > p {
    font-weight: 500;
    font-size: 10px;
    line-height: 181%;
    color: #ffffff;
    margin-top: 5px;
  }
  .header_menu_item_box_social {
    display: flex;
    flex-direction: column;
    margin-left: auto;
  }
  .header_menu_item_box_social > a {
    margin-top: 15px;
  }
  .header_menu_item:not(:last-child) {
    margin-right: 0px;
  }
  .header_menu_item:nth-child(2) {
    margin-right: 0px;
  }
  .header_menu_button {
    z-index: 15;
    margin-left: auto;
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  .header_menu_button_img {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000000;
    transition: all 0.5s ease;
  }
  .header_menu_button_img::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000000;
    top: 10px;
    transition: all 0.5s ease;
  }
  .header_menu_button_img::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #000000;
    bottom: 10px;
    transition: all 0.5s ease;
  }
  .header_menu_button_img.active {
    z-index: 15;
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #ffffff;
  }
  .header_menu_button_img.active::after {
    content: "";
    position: absolute;
    width: 6px;
    height: 45px;
    border-radius: 3px;
    background-color: #ffffff;
    top: -28px;
    transform-origin: bottom left;
    transform: translateX(-15px) rotate(45deg);
  }
  .header_menu_button_img.active::before {
    content: "";
    position: absolute;
    width: 6px;
    height: 45px;
    border-radius: 3px;
    background-color: #ffffff;
    bottom: -28px;
    transform-origin: top left;
    transform: translateX(-15px) rotate(-45deg);
  }
}

/* --HEADER----HEADER----HEADER-- */
/* --MAIN----MAIN----MAIN-- */
.main {
  padding: 0px 10px;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* --MAINPAGE----MAINPAGE----MAINPAGE-- */
  /* --MAINPAGE----MAINPAGE----MAINPAGE-- */
  /* --STEPS----STEPS----STEPS-- */
  /* --STEPS----STEPS----STEPS-- */
  /* --FORM----FORM----FORM-- */
  /* --FORM----FORM----FORM-- */
  /* --FORM----FORM----FORM-- */
  /* --FORM----FORM----FORM-- */
  /* --ADVANTAGE----ADVANTAGE----ADVANTAGE-- */
  /* --ADVANTAGE----ADVANTAGE----ADVANTAGE-- */
  /* --ADVANTAGE2----ADVANTAGE2----ADVANTAGE2-- */
  /* --ADVANTAGE2----ADVANTAGE2----ADVANTAGE2-- */
  /* --ADVANTAGE3----ADVANTAGE3----ADVANTAGE3-- */
  /* --ADVANTAGE3----ADVANTAGE3----ADVANTAGE3-- */
  /* --TRUST----TRUST----TRUST-- */
  /* --TRUST----TRUST----TRUST-- */
  /* --PRODUCTION----PRODUCTION----PRODUCTION-- */
  /* --PRODUCTION----PRODUCTION----PRODUCTION-- */
  /* --PARTNERS----PARTNERS----PARTNERS-- */
  /* --PARTNERS----PARTNERS----PARTNERS-- */
  /* --FAQ----FAQ----FAQ-- */
  /* --FAQ----FAQ----FAQ-- */
}
.main_container {
  position: relative;
  width: 100%;
}
.main_container_arrow {
  display: none;
  position: fixed;
  z-index: 20;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
}
.main_container_arrow.fixed {
  display: block;
}
@media (max-width: 768px) {
  .main_container_arrow {
    right: 10px;
    bottom: 40px;
    width: 30px;
  }
}
.main_mainpage {
  margin-top: 90px;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}
.main_mainpage_info {
  align-self: flex-end;
  padding: 0px 10px;
  position: relative;
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
}
.main_mainpage_info_h {
  position: absolute;
  top: -450%;
  left: 35%;
  font-weight: 700;
  font-size: 50px;
  line-height: 106%;
  text-transform: uppercase;
  z-index: 10;
}
.main_mainpage_info_text {
  width: 100px;
  font-weight: 400;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  transform: translateY(30px);
}
.main_mainpage_box {
  z-index: 2;
  flex: 1 1 30%;
  position: relative;
  border: #000000 2px solid;
}
.main_mainpage_box_img {
  width: 100%;
  transform: translate(29px, -36px);
}
.main_mainpage_box:last-child {
  z-index: 1;
  background-color: #ffffff;
  flex: 1 1 30%;
  position: relative;
  border: #000000 2px solid;
  margin-top: -65px;
  margin-right: 29px;
}
.main_mainpage_box:last-child > img {
  width: 100%;
  transform: translate(30px, 35px);
}
.main_mainpage_box_1 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 100%;
  top: -100%;
  left: 90%;
}
.main_mainpage_box_2 {
  background-color: #000000;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 2px;
  height: 100%;
  top: -100%;
  left: 90%;
}
.main_mainpage_box_3 {
  background-color: #000000;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 2px;
  height: 100px;
  left: 0%;
  top: 90%;
}
.main_mainpage_box_4 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 550px;
  left: -102px;
  top: 90%;
}
.main_mainpage_box_5 {
  background-color: #000000;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 2px;
  height: 100px;
  left: 0%;
  top: 936px;
}
@media (max-width: 1000px) {
  .main_mainpage_info_h {
    left: 30%;
    font-size: 40px;
  }
  .main_mainpage_info_text {
    width: 200px;
    font-size: 20px;
    transform: translateY(20px);
  }
}
@media (max-width: 1250px) {
  .main_mainpage_box_4 {
    display: none;
  }
  .main_mainpage_box_5 {
    display: none;
  }
}
@media (max-width: 768px) {
  .main_mainpage {
    flex-direction: column;
    margin-top: 30px;
    align-items: baseline;
  }
  .main_mainpage_info {
    align-self: flex-start;
  }
  .main_mainpage_info_h {
    position: relative;
    margin-top: 13px;
    margin-bottom: 0px;
    width: 180px;
    left: 0%;
    font-size: 20px;
  }
  .main_mainpage_info_text {
    display: none;
  }
  .main_mainpage_box {
    margin-right: 150px;
  }
  .main_mainpage_box_img {
    width: 100%;
    transform: translate(29px, -36px);
  }
  .main_mainpage_box:last-child {
    align-self: flex-end;
    margin-top: -25px;
    margin-right: 29px;
    margin-left: 150px;
  }
  .main_mainpage_box:last-child > img {
    width: 100%;
    transform: translate(30px, 35px);
  }
}
.main_steps {
  position: relative;
  margin-top: 300px;
}
.main_steps_info {
  font-weight: 400;
  font-size: 20px;
  line-height: 106%;
  text-align: center;
}
.main_steps_box {
  margin-top: 78px;
  display: flex;
  align-items: center;
}
.main_steps_box > img {
  width: 100%;
  padding: 2px;
  flex: 1;
}
@media (max-width: 1230px) {
  .main_steps_box > img:nth-child(2n) {
    width: 100px;
  }
}
@media (max-width: 1040px) {
  .main_steps_box > img {
    width: 50px;
  }
  .main_steps_box > img:nth-child(2n) {
    width: 50px;
  }
}
@media (max-width: 768px) {
  .main_steps {
    display: none;
  }
}
.main_form {
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_form_h {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 28px;
  background-color: #000000;
  margin-bottom: 68px;
}
.main_form_box {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.main_form_box_content {
  border: #000000 2px solid;
  flex: 0 1 77%;
  margin-top: 33px;
  margin-right: 26px;
}
.main_form_box_content_1 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 100px;
  top: -340px;
  left: 109.6%;
  transform-origin: top left;
  transform: rotate(90deg);
}
.main_form_box_content_2 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 442px;
  top: -340px;
  left: 109.6%;
  transform-origin: top left;
}
.main_form_box_content_3 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 300px;
  top: 100px;
  left: 109.6%;
  transform-origin: top left;
  transform: rotate(90deg);
}
.main_form_box_content_4 {
  display: none;
}
.main_form_box_content_5 {
  display: none;
}
.main_form_box_content_img {
  width: 100%;
  padding: 65px;
  border: #000000 2px solid;
  transform: translate(29px, -36px);
  background: url("../src/form/Photo.png") right/cover no-repeat;
}
.main_form_box_content_form {
  display: flex;
  align-items: center;
  width: 354px;
  flex-direction: column;
}
.main_form_box_content_form_input {
  width: 100%;
  font-size: 15px;
  line-height: 106%;
  padding: 14px 30px 14px 30px;
  border-radius: 22px;
  background-color: #ffffff;
  margin-bottom: 24px;
  outline: none;
}
.main_form_box_content_form_input:last-child {
  margin-bottom: 15px;
}
.main_form_box_content_form_input.error {
  border: #000000 1px solid;
}
.main_form_box_content_form_textarea {
  font-family: inherit;
  font-weight: inherit;
  width: 100%;
  height: 125px;
  font-size: 15px;
  line-height: 106%;
  padding: 14px 30px 14px 30px;
  border-radius: 22px;
  background-color: #ffffff;
  outline: none;
  margin-bottom: 29px;
  resize: none;
}
.main_form_box_content_form_textarea.error {
  border: #000000 1px solid;
}
.main_form_box_content_form_button {
  font-family: inherit;
  font-weight: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  background-color: #000000;
  padding: 14px 44px;
  font-size: 15px;
  line-height: 106%;
  border-radius: 22px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .main_form_h {
    font-size: 16px;
    padding: 8px 23px;
    margin-bottom: 38px;
  }
  .main_form_box_content {
    flex: 0 1 100%;
    margin-top: 33px;
    margin-left: 26px;
    margin-right: 0px;
  }
  .main_form_box_content_1 {
    display: none;
  }
  .main_form_box_content_2 {
    display: none;
  }
  .main_form_box_content_3 {
    left: 100%;
    transform: rotate(-90deg);
  }
  .main_form_box_content_4 {
    display: block;
    background-color: #000000;
    position: absolute;
    width: 2px;
    height: 300px;
    top: -350px;
    left: 15%;
    transform-origin: top left;
    transform: rotate(-90deg);
  }
  .main_form_box_content_5 {
    display: block;
    background-color: #000000;
    position: absolute;
    width: 2px;
    height: 350px;
    top: -350px;
    left: 15%;
    transform-origin: top left;
  }
  .main_form_box_content_img {
    padding: 57px 38px;
    transform: translate(-29px, -36px);
  }
  .main_form_box_content_form {
    width: 265px;
  }
  .main_form_box_content_form_input {
    padding: 10px 20px;
    border-radius: 22px;
    margin-bottom: 17px;
  }
  .main_form_box_content_form_input:last-child {
    margin-bottom: 12px;
  }
  .main_form_box_content_form_textarea {
    height: 95px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .main_form_box_content_form_button {
    padding: 10px 38px;
  }
}
@media (max-width: 426px) {
  .main_form_box_content_img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_form_box_content_form {
    width: 265px;
  }
  .main_form_box_content_form_input {
    padding: 10px 20px;
    border-radius: 22px;
    margin-bottom: 17px;
  }
  .main_form_box_content_form_input:last-child {
    margin-bottom: 12px;
  }
  .main_form_box_content_form_textarea {
    height: 95px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .main_form_box_content_form_button {
    padding: 10px 38px;
  }
}
@media (max-width: 376px) {
  .main_form_box_content_3 {
    display: none;
  }
  .main_form_box_content_4 {
    height: 200px;
    top: -300px;
  }
  .main_form_box_content_5 {
    height: 300px;
    top: -300px;
  }
  .main_form_box_content_form {
    width: 225px;
  }
}
@media (max-width: 1250px) {
  .main_form_box_content_1 {
    display: none;
  }
  .main_form_box_content_2 {
    display: none;
  }
}
.main_form_box_show {
  -webkit-backdrop-filter: blur(2px);
          backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.5058823529);
  display: none;
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 0px 20px;
}
.main_form_box_show.active {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 30;
}
.main_form_box_show_container {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 100%;
}
.main_form_box_show_content {
  border: #fff 2px solid;
  flex: 0 1 77%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-top: 33px;
  margin-right: 26px;
}
.main_form_box_show_content_img {
  width: 100%;
  padding: 65px;
  border: #fff 2px solid;
  transform: translate(29px, -36px);
  background: url("../src/form/Photo2.png") right/cover no-repeat;
}
.main_form_box_show_content_img_close {
  position: absolute;
  top: 35px;
  right: 35px;
  cursor: pointer;
}
.main_form_box_show_content_img_close::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 45px;
  border-radius: 3px;
  background-color: #ffffff;
  top: -31px;
  transform-origin: bottom left;
  transform: translateX(-15px) rotate(45deg);
}
.main_form_box_show_content_img_close::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 45px;
  border-radius: 3px;
  background-color: #ffffff;
  bottom: -31px;
  transform-origin: top left;
  transform: translateX(-15px) rotate(-45deg);
}
.main_form_box_show_content_form {
  display: flex;
  align-items: center;
  width: 354px;
  flex-direction: column;
}
.main_form_box_show_content_form_input {
  width: 100%;
  font-size: 15px;
  line-height: 106%;
  padding: 14px 30px 14px 30px;
  border-radius: 22px;
  background-color: #ffffff;
  margin-bottom: 24px;
  outline: none;
}
.main_form_box_show_content_form_input:last-child {
  margin-bottom: 15px;
}
.main_form_box_show_content_form_input.error {
  border: #000000 1px solid;
}
.main_form_box_show_content_form_textarea {
  font-family: inherit;
  font-weight: inherit;
  width: 100%;
  height: 125px;
  font-size: 15px;
  line-height: 106%;
  padding: 14px 30px 14px 30px;
  border-radius: 22px;
  background-color: #ffffff;
  outline: none;
  margin-bottom: 29px;
  resize: none;
}
.main_form_box_show_content_form_textarea.error {
  border: #000000 1px solid;
}
.main_form_box_show_content_form_button {
  font-family: inherit;
  font-weight: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  background-color: #000000;
  padding: 14px 44px;
  font-size: 15px;
  line-height: 106%;
  border-radius: 22px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .main_form_box_show_content {
    flex: 0 1 100%;
    margin-top: 33px;
    margin-left: 26px;
    margin-right: 0px;
  }
  .main_form_box_show_content_img {
    padding: 57px 38px;
    transform: translate(-29px, -36px);
  }
  .main_form_box_show_content_form {
    width: 265px;
  }
  .main_form_box_show_content_form_input {
    padding: 10px 20px;
    border-radius: 22px;
    margin-bottom: 17px;
  }
  .main_form_box_show_content_form_input:last-child {
    margin-bottom: 12px;
  }
  .main_form_box_show_content_form_textarea {
    height: 95px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .main_form_box_show_content_form_button {
    padding: 10px 38px;
  }
}
@media (max-width: 426px) {
  .main_form_box_show_content_img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_form_box_show_content_form {
    width: 265px;
  }
  .main_form_box_show_content_form_input {
    padding: 10px 20px;
    border-radius: 22px;
    margin-bottom: 17px;
  }
  .main_form_box_show_content_form_input:last-child {
    margin-bottom: 12px;
  }
  .main_form_box_show_content_form_textarea {
    height: 95px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .main_form_box_show_content_form_button {
    padding: 10px 38px;
  }
}
@media (max-width: 376px) {
  .main_form_box_show_content_form {
    width: 225px;
  }
}
.main_advantage {
  width: 100%;
  position: relative;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_advantage_h {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 28px;
  background-color: #000000;
  margin-bottom: 90px;
}
.main_advantage_box {
  width: 100%;
  position: relative;
  display: flex;
}
.main_advantage_box_img {
  position: relative;
  flex: 0 1 30.6%;
  border: #000000 2px solid;
  margin-top: 32px;
  margin-right: 28px;
}
.main_advantage_box_img > img {
  width: 100%;
  border: #000000 2px solid;
  transform: translate(30px, -35px);
}
.main_advantage_box_img_1 {
  position: absolute;
  top: -354px;
  height: 400px;
  width: 2px;
  left: 50%;
  background-color: #000000;
}
.main_advantage_box_content {
  flex: 0 1 69.4%;
  min-width: 0; /* Обезательно для слайдера в flex */
  position: relative;
  margin-left: 70px;
}
.main_advantage_box_content_h {
  font-size: 25px;
  line-height: 106%;
  text-transform: uppercase;
  margin-bottom: 43px;
}
.main_advantage_box_content_text {
  font-size: 22px;
  line-height: 106%;
  margin-bottom: 67px;
}
.main_advantage_box_content_box {
  position: relative;
}
.main_advantage_box_content_slider {
  z-index: 2;
  min-width: 0; /* Обезательно для слайдера в flex */
  position: relative;
  /* Ограничивающая оболочка */
  /* Лента слайдов */
}
.main_advantage_box_content_slider .slick-list {
  overflow: hidden;
}
.main_advantage_box_content_slider .slick-track {
  display: flex;
}
.main_advantage_box_content_slider_slide {
  margin-right: 25px;
}
.main_advantage_box_content_slider_slide > img {
  border: #000000 2px solid;
  width: 100%;
}
.main_advantage_box_content_slider_arrows {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 140%;
}
.main_advantage_box_content_slider_arrows > svg:hover {
  cursor: pointer;
}
.main_advantage_box_content_slider_arrows > svg:hover > path {
  stroke: #000000;
}
.main_advantage_box_content_slider_back {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main_advantage_box_content_slider_back > img {
  flex: 0 1 20%;
  min-width: 0;
  margin-top: 25px;
}
.main_advantage_box_content_slider_back > img:nth-child(2n) {
  margin-top: -50px;
}
@media (max-width: 1000px) {
  .main_advantage_box_content_h {
    font-size: 20px;
  }
  .main_advantage_box_content_text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .main_advantage {
    margin-top: 50px;
  }
  .main_advantage_h {
    font-size: 16px;
    padding: 8px 23px;
    margin-bottom: 38px;
  }
  .main_advantage_box_img {
    display: none;
  }
  .main_advantage_box_content {
    flex: 0 1 100%;
    margin-left: 0px;
  }
  .main_advantage_box_content_h {
    font-size: 16px;
    margin-bottom: 12px;
    padding: 0px 20px;
  }
  .main_advantage_box_content_text {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0px 20px;
  }
  .main_advantage_box_content_box {
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
    border: #000000 2px solid;
    margin-top: 55px;
    margin-right: 33px;
  }
  .main_advantage_box_content_slider {
    transform: translate(35px, -35px);
  }
  .main_advantage_box_content_slider_slide > img {
    width: 100%;
  }
  .main_advantage_box_content_slider_arrows {
    width: 70%;
    top: 105%;
  }
  .main_advantage_box_content_slider_back {
    display: none;
  }
}
.main_advantage2 {
  width: 100%;
  position: relative;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_advantage2_h {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 28px;
  background-color: #000000;
  margin-bottom: 90px;
}
.main_advantage2_box {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row-reverse;
}
.main_advantage2_box_img {
  position: relative;
  flex: 0 1 45%;
  border: #000000 2px solid;
  margin-bottom: 32px;
  margin-left: 28px;
}
.main_advantage2_box_img > img {
  border: #000000 2px solid;
  width: 100%;
  transform: translate(-30px, 35px);
}
.main_advantage2_box_img_1 {
  position: absolute;
  top: 100px;
  height: 100px;
  width: 2px;
  right: -2px;
  background-color: #000000;
  transform-origin: top left;
  transform: rotate(-90deg);
}
.main_advantage2_box_img_2 {
  position: absolute;
  top: -300px;
  height: 400px;
  width: 2px;
  right: -100px;
  background-color: #000000;
}
.main_advantage2_box_img_3 {
  position: absolute;
  top: -300px;
  height: 142px;
  width: 2px;
  right: 40px;
  background-color: #000000;
  transform-origin: top left;
  transform: rotate(-90deg);
}
.main_advantage2_box_content {
  flex: 0 1 55%;
  min-width: 0; /* Обезательно для слайдера в flex */
  position: relative;
  margin-right: 70px;
}
.main_advantage2_box_content_h {
  font-size: 25px;
  line-height: 106%;
  text-transform: uppercase;
  margin-bottom: 43px;
  text-align: right;
}
.main_advantage2_box_content_text {
  font-size: 22px;
  line-height: 106%;
  margin-bottom: 67px;
  text-align: right;
}
.main_advantage2_box_content_box {
  position: relative;
}
.main_advantage2_box_content_slider {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
.main_advantage2_box_content_slider_slide {
  min-width: 0;
  flex: 0 1 30%;
  border: #000000 2px solid;
  width: 100%;
}
.main_advantage2_box_content_slider_back {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main_advantage2_box_content_slider_back > img {
  flex: 0 1 30%;
  min-width: 0;
  margin-top: 25px;
}
.main_advantage2_box_content_slider_back > img:nth-child(2n) {
  margin-top: -50px;
}
@media (max-width: 1250px) {
  .main_advantage2_box_img_2 {
    display: none;
  }
  .main_advantage2_box_img_3 {
    display: none;
  }
}
@media (max-width: 1000px) {
  .main_advantage2_box_content_h {
    font-size: 20px;
  }
  .main_advantage2_box_content_text {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .main_advantage2 {
    margin-top: 100px;
  }
  .main_advantage2_h {
    font-size: 16px;
    padding: 8px 23px;
    margin-bottom: 38px;
  }
  .main_advantage2_box {
    flex-direction: column-reverse;
  }
  .main_advantage2_box_content {
    flex: 0 1 100%;
    margin-right: 0px;
  }
  .main_advantage2_box_content_h {
    font-size: 16px;
    margin-bottom: 12px;
    padding: 0px 20px;
    text-align: left;
  }
  .main_advantage2_box_content_text {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0px 20px;
    text-align: left;
  }
  .main_advantage2_box_content_box {
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
  }
  .main_advantage2_box_content_slider {
    display: none;
  }
  .main_advantage2_box_content_slider_back {
    display: none;
  }
}
.main_advantage3 {
  width: 100%;
  position: relative;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_advantage3_h {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 28px;
  background-color: #000000;
  margin-bottom: 90px;
}
.main_advantage3_box {
  width: 100%;
  position: relative;
  display: flex;
}
.main_advantage3_box_img {
  position: relative;
  flex: 0 1 30.6%;
  border: #000000 2px solid;
  margin-bottom: 32px;
  margin-right: 28px;
}
.main_advantage3_box_img > img {
  border: #000000 2px solid;
  width: 100%;
  transform: translate(30px, 35px);
}
.main_advantage3_box_img_1 {
  position: absolute;
  top: -250px;
  height: 250px;
  width: 2px;
  left: 10%;
  background-color: #000000;
}
.main_advantage3_box_content {
  flex: 0 1 69.4%;
  min-width: 0; /* Обезательно для слайдера в flex */
  position: relative;
  margin-left: 70px;
}
.main_advantage3_box_content_h {
  font-size: 25px;
  line-height: 106%;
  text-transform: uppercase;
  margin-bottom: 43px;
}
.main_advantage3_box_content_text {
  font-size: 22px;
  line-height: 106%;
  margin-bottom: 20px;
}
.main_advantage3_box_content_list {
  margin-bottom: 80px;
  padding-left: 30px;
}
.main_advantage3_box_content_list_item {
  font-size: 22px;
  line-height: 106%;
  list-style: disc;
}
.main_advantage3_box_content_box {
  position: relative;
}
.main_advantage3_box_content_slider {
  display: flex;
  justify-content: space-between;
  z-index: 2;
  position: relative;
}
.main_advantage3_box_content_slider_slide {
  min-width: 0;
  flex: 0 1 23%;
  border: #000000 2px solid;
  width: 100%;
}
.main_advantage3_box_content_slider_back {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: -5px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main_advantage3_box_content_slider_back > img {
  flex: 0 1 25%;
  min-width: 0;
  margin-top: 25px;
}
.main_advantage3_box_content_slider_back > img:nth-child(2n) {
  margin-top: -50px;
}
@media (max-width: 1000px) {
  .main_advantage3_box_content_h {
    font-size: 20px;
  }
  .main_advantage3_box_content_text {
    font-size: 18px;
  }
  .main_advantage3_box_content_list_item {
    font-size: 18px;
  }
}
@media (max-width: 768px) {
  .main_advantage3 {
    margin-top: 43px;
  }
  .main_advantage3_h {
    font-size: 16px;
    padding: 8px 23px;
    margin-bottom: 38px;
  }
  .main_advantage3_box {
    flex-direction: column-reverse;
  }
  .main_advantage3_box_img_1 {
    display: none;
  }
  .main_advantage3_box_content {
    flex: 0 1 100%;
    margin-left: 0px;
  }
  .main_advantage3_box_content_h {
    font-size: 16px;
    margin-bottom: 12px;
    padding: 0px 20px;
  }
  .main_advantage3_box_content_text {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0px 20px;
  }
  .main_advantage3_box_content_list {
    margin-bottom: 15px;
  }
  .main_advantage3_box_content_list_item {
    font-size: 15px;
  }
  .main_advantage3_box_content_box {
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
  }
  .main_advantage3_box_content_slider {
    display: none;
  }
  .main_advantage3_box_content_slider_back {
    display: none;
  }
}
.main_trust {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 170px;
}
.main_trust_h {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 28px;
  background-color: #000000;
  margin-bottom: 86px;
}
.main_trust_box {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.main_trust_box_item {
  flex: 1;
  position: relative;
  display: flex;
  flex-direction: column;
}
.main_trust_box_item:nth-child(2) {
  flex: 2;
}
.main_trust_box_item_h {
  font-weight: 700;
  font-size: 100px;
  margin: 0;
  line-height: 106%;
  text-align: center;
  color: #fff;
  font-family: "Albert Sans", sans-serif;
  -webkit-text-fill-color: white;
  -webkit-text-stroke: 2px #000000;
}
.main_trust_box_item_h > span {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.main_trust_box_item_info {
  margin-top: 18px;
  font-weight: 400;
  font-size: 20px;
  line-height: 106%;
  text-align: center;
  color: #000000;
}
.main_trust_box_1 {
  position: absolute;
  top: 30%;
  height: 100px;
  width: 2px;
  left: 100%;
  transform-origin: top left;
  transform: rotate(-90deg);
  background-color: #000000;
}
.main_trust_box_2 {
  position: absolute;
  top: 30%;
  height: 460px;
  width: 2px;
  right: -102px;
  transform-origin: top left;
  transform: rotate(180deg);
  background-color: #000000;
}
.main_trust_box_3 {
  position: absolute;
  top: -410px;
  height: 100px;
  width: 2px;
  left: 100%;
  transform-origin: top left;
  transform: rotate(-90deg);
  background-color: #000000;
}
@media (max-width: 1250px) {
  .main_trust_box_1 {
    display: none;
  }
  .main_trust_box_2 {
    display: none;
  }
  .main_trust_box_3 {
    display: none;
  }
}
@media (max-width: 1000px) {
  .main_trust_box_item {
    flex: 1;
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .main_trust_box_item:nth-child(2) {
    flex: 2;
  }
  .main_trust_box_item_h {
    -webkit-text-fill-color: black;
    color: #000;
    font-size: 80px;
  }
}
@media (max-width: 768px) {
  .main_trust {
    margin-top: 35px;
  }
  .main_trust_h {
    font-size: 16px;
    padding: 8px 23px;
    margin-bottom: 38px;
  }
  .main_trust_box {
    flex-direction: column;
  }
  .main_trust_box_item {
    flex: 1;
    margin-bottom: 60px;
  }
  .main_trust_box_item:nth-child(2) {
    flex: 1;
  }
  .main_trust_box_item_info {
    margin-top: 10px;
    font-size: 15px;
  }
  .main_trust_box_1 {
    display: block;
    position: absolute;
    top: 23%;
    height: 50px;
    width: 2px;
    left: 50%;
    transform-origin: top left;
    transform: rotate(0deg);
    background-color: #000000;
  }
  .main_trust_box_2 {
    display: block;
    position: absolute;
    top: 59%;
    height: 50px;
    width: 2px;
    left: 50%;
    transform-origin: top left;
    transform: rotate(0deg);
    background-color: #000000;
  }
}
@media (max-width: 376px) {
  .main_trust_box {
    flex-direction: column;
  }
  .main_trust_box_item {
    flex: 1;
    margin-bottom: 60px;
  }
  .main_trust_box_item:nth-child(2) {
    flex: 1;
  }
  .main_trust_box_item_h {
    font-size: 60px;
  }
  .main_trust_box_item_info {
    margin-top: 10px;
    font-size: 15px;
  }
  .main_trust_box_1 {
    display: block;
    position: absolute;
    top: 23%;
    height: 40px;
    width: 2px;
    left: 50%;
    transform-origin: top left;
    transform: rotate(0deg);
    background-color: #000000;
  }
  .main_trust_box_2 {
    display: block;
    position: absolute;
    top: 57%;
    height: 40px;
    width: 2px;
    left: 50%;
    transform-origin: top left;
    transform: rotate(0deg);
    background-color: #000000;
  }
}
.main_production {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 160px;
}
.main_production_h {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 28px;
  background-color: #000000;
  margin-bottom: 64px;
}
.main_production_box {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
}
.main_production_box_item {
  position: relative;
  flex: 0 1 25%;
  width: 100%;
  min-height: 150px;
  max-height: 290px;
  border: #000000 2px solid;
  display: flex;
  flex-direction: column-reverse;
  margin-right: 34px;
  margin-top: 34px;
  margin-bottom: 40px;
}
.main_production_box_item:nth-child(-n+6) {
  margin-left: 36px;
  margin-right: 0px;
}
.main_production_box_item:nth-child(-n+6) > :first-child {
  text-align: right;
  right: 5px;
}
.main_production_box_item:nth-child(-n+6) > :last-child {
  transform: translate(-36px, -36px);
}
.main_production_box_item_h {
  position: absolute;
  font-weight: 500;
  font-size: 20px;
  line-height: 106%;
  text-transform: capitalize;
  bottom: 5px;
  text-align: left;
  left: 5px;
  cursor: pointer;
}
.main_production_box_item_img {
  position: relative;
  background-color: #fff;
  width: 100%;
  min-height: 150px;
  max-height: 290px;
  height: 100%;
  border: #000000 2px solid;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10%;
  transform: translate(36px, -36px);
  cursor: pointer;
}
.main_production_box_item_img > img {
  width: 100%;
}
.main_production_box_1 {
  position: absolute;
  top: 10%;
  height: 100px;
  width: 2px;
  left: 0%;
  transform-origin: top left;
  transform: rotate(90deg);
  background-color: #000000;
}
.main_production_box_2 {
  position: absolute;
  top: 10%;
  height: 475px;
  width: 2px;
  left: -102px;
  transform-origin: top right;
  transform: rotate(180deg);
  background-color: #000000;
}
.main_production_box_3 {
  position: absolute;
  top: -403px;
  height: 100px;
  width: 2px;
  left: 0%;
  transform-origin: top left;
  transform: rotate(90deg);
  background-color: #000000;
}
@media (max-width: 1250px) {
  .main_production_box_1 {
    display: none;
  }
  .main_production_box_2 {
    display: none;
  }
  .main_production_box_3 {
    display: none;
  }
}
@media (max-width: 768px) {
  .main_production {
    margin-top: 60px;
  }
  .main_production_h {
    font-size: 16px;
    padding: 8px 23px;
    margin-bottom: 38px;
  }
  .main_production_box_item_h {
    font-size: 10px;
  }
}
@media (max-width: 500px) {
  .main_production_box_item {
    flex: 0 1 35%;
    margin-top: 26px;
    margin-right: 26px;
    margin-bottom: 25px;
  }
  .main_production_box_item > :last-child {
    transform: translate(26px, -26px);
  }
  .main_production_box_item:nth-child(4) {
    margin-left: 26px;
    margin-right: 0px;
  }
  .main_production_box_item:nth-child(4) > :last-child {
    transform: translate(-26px, -26px);
  }
  .main_production_box_item:nth-child(4) > :first-child {
    text-align: right;
    right: 5px;
  }
  .main_production_box_item:nth-child(5) {
    margin-left: 26px;
    margin-right: 0px;
  }
  .main_production_box_item:nth-child(5) > :last-child {
    transform: translate(-26px, -26px);
  }
  .main_production_box_item:nth-child(5) > :first-child {
    text-align: right;
    right: 5px;
  }
  .main_production_box_item:nth-child(6) {
    margin-left: 0px;
    margin-right: 26px;
  }
  .main_production_box_item:nth-child(6) > :last-child {
    transform: translate(26px, -26px);
  }
  .main_production_box_item:nth-child(6) > :first-child {
    text-align: left;
    left: 5px;
  }
  .main_production_box_item:nth-child(8) {
    margin-left: 26px;
    margin-right: 0px;
  }
  .main_production_box_item:nth-child(8) > :last-child {
    transform: translate(-26px, -26px);
  }
  .main_production_box_item:nth-child(8) > :first-child {
    text-align: right;
    right: 5px;
  }
  .main_production_box_item:nth-child(9) {
    margin-left: 26px;
    margin-right: 0px;
  }
  .main_production_box_item:nth-child(9) > :last-child {
    transform: translate(-26px, -26px);
  }
  .main_production_box_item:nth-child(9) > :first-child {
    text-align: right;
    right: 5px;
  }
  .main_production_box_item_img {
    padding: 20px;
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 376px) {
  .main_production_box_item_img {
    padding: 20px;
    width: 130px;
    height: 130px;
  }
}
.main_partners {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 140px;
}
.main_partners_h {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 28px;
  background-color: #000000;
  margin-bottom: 86px;
}
.main_partners_box {
  width: 70%;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.main_partners_box_item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  padding: 0px 20px;
  max-width: 200px;
  min-width: 100px;
}
.main_partners_box_item > img {
  width: 100%;
}
.main_partners_box_1 {
  position: absolute;
  top: 50%;
  height: 75px;
  width: 2px;
  right: 0%;
  transform-origin: top left;
  transform: rotate(-90deg);
  background-color: #000000;
}
.main_partners_box_2 {
  position: absolute;
  top: 50%;
  height: 370px;
  width: 2px;
  right: -77px;
  transform-origin: top left;
  transform: rotate(180deg);
  background-color: #000000;
}
.main_partners_box_3 {
  position: absolute;
  top: 50%;
  height: 75px;
  width: 2px;
  left: 0%;
  transform-origin: top left;
  transform: rotate(90deg);
  background-color: #000000;
}
.main_partners_box_4 {
  position: absolute;
  top: 50%;
  height: 340px;
  width: 2px;
  left: -77px;
  background-color: #000000;
}
@media (max-width: 768px) {
  .main_partners {
    margin-top: 60px;
  }
  .main_partners_h {
    font-size: 16px;
    padding: 8px 23px;
    margin-bottom: 38px;
  }
  .main_partners_box {
    width: 100%;
  }
  .main_partners_box_1 {
    display: none;
  }
  .main_partners_box_2 {
    display: none;
  }
  .main_partners_box_3 {
    display: none;
  }
  .main_partners_box_4 {
    display: none;
  }
}
.main_faq {
  display: flex;
  flex-direction: column;
  width: 100%;
  position: relative;
  margin-top: 150px;
}
.main_faq_h {
  align-self: center;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 28px;
  background-color: #000000;
  margin-bottom: 86px;
}
.main_faq_box {
  display: flex;
  align-items: flex-start;
}
.main_faq_box_img {
  z-index: 5;
  flex: 1;
  border: #000000 2px solid;
  margin-left: 30px;
  margin-bottom: 30px;
  width: 100%;
}
.main_faq_box_img > img {
  width: 100%;
  border: #000000 2px solid;
  transform: translate(-30px, 30px);
}
.main_faq_box_question {
  flex: 1;
  width: 100%;
  padding: 100px 0px 0px 68px;
}
.main_faq_box_question_item {
  width: 100%;
  position: relative;
  padding-left: 25px;
}
.main_faq_box_question_item::before {
  content: "";
  position: absolute;
  width: 4px;
  height: 25px;
  background-color: #000000;
  left: 0;
  top: -3px;
  border-radius: 2px;
  cursor: pointer;
  transition: all 0.5s ease;
}
.main_faq_box_question_item::after {
  content: "";
  position: absolute;
  border-radius: 2px;
  width: 4px;
  height: 25px;
  background-color: #000000;
  left: 0;
  top: -3px;
  transform: rotate(90deg);
  cursor: pointer;
  transition: all 0.5s ease;
}
.main_faq_box_question_item.active::after {
  top: 10px;
  transform: rotate(90deg);
  height: 0px;
}
.main_faq_box_question_item.active::before {
  transform: rotate(90deg);
}
.main_faq_box_question_item_h {
  font-size: 20px;
  line-height: 106%;
  margin-bottom: 68px;
  cursor: pointer;
}
.main_faq_box_question_item_h.active {
  margin-bottom: 16px;
}
.main_faq_box_question_item_text {
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 35px;
  display: none;
}
.main_faq_box_question_item_text.active {
  display: block;
}
@media (max-width: 768px) {
  .main_faq {
    margin-top: 40px;
    align-items: flex-start;
  }
  .main_faq_h {
    font-size: 16px;
    padding: 8px 23px;
    margin-bottom: 38px;
  }
  .main_faq_box_img {
    display: none;
  }
  .main_faq_box_question {
    padding: 0px 20px;
  }
  .main_faq_box_question_item_h {
    font-size: 15px;
    margin-bottom: 27px;
    cursor: pointer;
  }
  .main_faq_box_question_item_h.active {
    margin-bottom: 10px;
  }
  .main_faq_box_question_item_text {
    font-size: 14px;
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .main {
    padding: 0px 20px;
  }
}
/* --FOOTER----FOOTER----FOOTER-- */
.footer {
  margin-top: 120px;
  position: relative;
  padding: 0px 10px;
}
.footer_container {
  position: relative;
  width: 100%;
}
.footer_container_box {
  border-right: #000000 2px solid;
  padding: 65px 145px;
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer_container_box_1 {
  position: absolute;
  top: 0;
  height: 2px;
  width: 90%;
  right: -2px;
  background-color: #000000;
}
.footer_container_box_2 {
  z-index: 0;
  position: absolute;
  top: 0;
  height: 330px;
  width: 2px;
  left: 10%;
  transform-origin: top right;
  transform: rotate(180deg);
  background-color: #000000;
}
.footer_container_box_logo {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer_container_box_logo_by {
  font-size: 14px;
  line-height: 181%;
  margin-top: 10px;
}
.footer_container_box_schedule {
  flex: 1;
}
.footer_container_box_schedule_text {
  font-weight: 500;
  font-size: 20px;
  line-height: 181%;
  text-align: left;
}
.footer_container_box_contacts {
  flex: 1;
}
.footer_container_box_contacts_text {
  color: #000;
  font-weight: 500;
  font-size: 20px;
  line-height: 181%;
  text-align: right;
}
.footer_container_box_contacts_text > a {
  color: #000;
}
.footer_container_box_social {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.footer_container_box_social_button {
  background-color: #000000;
  color: #fff;
  border-radius: 22px;
  padding: 15px 10px;
  font-weight: 500;
  font-size: 12px;
  line-height: 106%;
  cursor: pointer;
}
.footer_container_box_social_button:hover {
  background-color: #ffffff;
  border: 2px #000000 solid;
  color: #000000;
}
.footer_container_box_social_box {
  position: relative;
  margin-top: 18px;
  width: 135px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer_container_box_social_box > a {
  flex: 0 1 25%;
  width: 100%;
}
.footer_container_box_social_box > a > img {
  width: 100%;
}

@media (max-width: 1206px) {
  .footer_container_box {
    padding: 65px 10%;
  }
  .footer_container_box_logo {
    flex: 0.7;
  }
  .footer_container_box_schedule {
    flex: 1;
  }
  .footer_container_box_contacts {
    flex: 1;
  }
  .footer_container_box_social {
    flex: 0.7;
  }
}
@media (max-width: 992px) {
  .footer_container_box {
    padding: 65px 10px;
  }
  .footer_container_box_logo {
    flex: 0.7;
  }
  .footer_container_box_schedule {
    flex: 1;
  }
  .footer_container_box_schedule_text {
    font-size: 18px;
  }
  .footer_container_box_contacts {
    flex: 1;
  }
  .footer_container_box_contacts_text {
    font-size: 18px;
  }
  .footer_container_box_social {
    flex: 0.7;
  }
}
@media (max-width: 768px) {
  .footer {
    margin-top: 50px;
  }
  .footer_container_box {
    border-right: none;
    padding: 65px 10px;
  }
  .footer_container_box_1 {
    display: none;
  }
  .footer_container_box_2 {
    display: none;
  }
  .footer_container_box_logo {
    flex: 1;
  }
  .footer_container_box_contacts {
    flex: 1;
  }
  .footer_container_box_social {
    position: absolute;
    top: 0;
    left: -10px;
    width: 100vw;
  }
  .footer_container_box_social_button {
    position: absolute;
    top: -3px;
    width: 100%;
    border-radius: 0px;
    text-align: center;
  }
  .footer_container_box_social_button:hover {
    background-color: #000000;
    border: none;
    color: #ffffff;
  }
  .footer_container_box_social_box {
    position: absolute;
    bottom: -210px;
  }
}
@media (max-width: 645px) {
  .footer_container_box {
    padding: 65px 10px;
  }
  .footer_container_box_logo {
    flex: 1;
  }
  .footer_container_box_logo > img {
    width: 70%;
  }
  .footer_container_box_logo_by {
    font-size: 10px;
  }
  .footer_container_box_schedule {
    flex: 1;
  }
  .footer_container_box_schedule_text {
    font-size: 10px;
    line-height: 150%;
  }
  .footer_container_box_contacts {
    flex: 1;
  }
  .footer_container_box_contacts_text {
    font-size: 10px;
    line-height: 150%;
  }
  .footer_container_box_social_box {
    bottom: -180px;
  }
}
/* --FOOTER----FOOTER----FOOTER-- *//*# sourceMappingURL=styles.css.map */