/* Обнуление */
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul,
ol,
li {
    list-style: none;
}
img {
    vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: inherit;
    font-size: inherit;
}
html,
body {
    font-family: 'Montserrat';
    font-weight: 500;
    font-size: 12px;
    background-color: #ffffff;
    height: 100%;
    color: #000000;
}
.wrapper {
    display: flex;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    overflow: hidden;
}


/*--CONTAINER----CONTAINER----CONTAINER--*/
._container{
    max-width: 1206px;
    margin: 0px auto;
}
/*--CONTAINER----CONTAINER----CONTAINER--*/


/* --HEADER----HEADER----HEADER-- */
.header{
    position: relative;
    padding: 34px 10px;
    &_container{
        display: flex;
        align-items: center;
    }
    &_box{
        position: absolute;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &_logo{

        }
    }
    &_menu{
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        &_list{
            position: relative;
            width: 100%;
            height: 44px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        &_item{
            cursor: pointer;
        }
        &_item:hover{
            font-weight: 800;
        }
        &_item:not(:last-child){
            margin-right: 40px;
        }
        &_item:nth-child(2){
            margin-right: 235px;
        }
        &_button{
            margin-right: 10px;
            display: none;
            &_img{

            }
        }
    }
    @media (max-width: 768px){
        &_menu{
            &_list{
                display: none;
            }
            &_button{
                z-index: 10;
                margin-left: auto;
                display: block;
                cursor: pointer;
                &_img{
                    
                }
            }
        }
    }
}
/* --HEADER----HEADER----HEADER-- */


/* --MAIN----MAIN----MAIN-- */
.main {
    padding: 0px 10px;
    height: 100%;
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    &_container{
        position: relative;
        width: 100%;
    }
    /* --MAINPAGE----MAINPAGE----MAINPAGE-- */
    &_mainpage{
        margin-top: 90px;
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        &_info{
            align-self: flex-end;
            padding: 0px 10px;
            position: relative;
            flex: 1 1 40%;
            display: flex;
            flex-direction: column;
            &_h{
                position: absolute;
                top: -450%;
                left: 35%;
                font-weight: 700;
                font-size: 50px;
                line-height: 106%;
                text-transform: uppercase;
                z-index: 10;
            }
            &_text{
                font-weight: 400;
                font-size: 30px;
                line-height: 106%;
                text-transform: uppercase;
                transform: translateY(30px);
            }
        }
        &_box{
            z-index: 2;
            flex: 1 1 30%;
            position: relative;
            border: #000000 2px solid;
            &_img{
                width: 100%;
                transform: translate(29px, -36px);
            }
            &:last-child{
                z-index: 1;
                background-color: #ffffff;
                flex: 1 1 30%;
                position: relative;
                border: #000000 2px solid;
                margin-top: -65px;
                margin-right: 29px;
                & > img{
                    width: 100%;
                    transform: translate(30px, 35px);
                }
            }
            &_1{
                background-color: #000000;
                position: absolute;
                width: 2px;
                height: 100%;
                top: -100%;
                left: 90%;
            }
            &_2{
                background-color: #000000;
                position: absolute;
                transform-origin: top left;
                transform: rotate(90deg);
                width: 2px;
                height: 100%;
                top: -100%;
                left: 90%;
            }
            &_3{
                background-color: #000000;
                position: absolute;
                transform-origin: top left;
                transform: rotate(90deg);
                width: 2px;
                height: 100px;
                left: 0%;
                top: 90%;
            }
            &_4{
                background-color: #000000;
                position: absolute;
                width: 2px;
                height: 550px;
                left: -102px;
                top: 90%;
            }
            &_5{
                background-color: #000000;
                position: absolute;
                transform-origin: top left;
                transform: rotate(90deg);
                width: 2px;
                height: 100px;
                left: 0%;
                top: 936px;
            }
        }
        
    }
    @media (max-width: 1000px){
        &_mainpage{
            &_info{
                &_h{
                    left: 30%;
                    font-size: 40px;
                }
                &_text{
                    width: 200px;
                    font-size: 20px;
                    transform: translateY(20px);
                }
            }
        }  
    }
    @media (max-width: 1250px){
        &_mainpage{
            &_box{
                &_4{
                    display: none;
                }
                &_5{
                    display: none;
                }
            }
        }  
    }
    @media (max-width: 768px){
        &_mainpage{
            flex-direction: column;
            margin-top: 30px;
            align-items: baseline;
            &_info{
                align-self: flex-start;
                &_h{
                    position: relative;
                    margin-top: 13px;
                    margin-bottom: 0px;
                    width: 180px;
                    left: 0%;
                    font-size: 20px;
                }
                &_text{
                    display: none;
                }
            }
            &_box{
                margin-right: 150px;
                &_img{
                    width: 100%;
                    transform: translate(29px, -36px);
                }
            }
            &_box:last-child{
                align-self: flex-end;
                margin-top: -25px;
                margin-right: 29px;
                margin-left: 150px;
                & > img{
                    width: 100%;
                    transform: translate(30px, 35px);
                }
            }
        }  
    }
    /* --MAINPAGE----MAINPAGE----MAINPAGE-- */

    /* --STEPS----STEPS----STEPS-- */
    &_steps{
        position: relative;
        margin-top: 300px;
        &_info{
            font-weight: 400;
            font-size: 20px;
            line-height: 106%;
            text-align: center;
        }
        &_box{
            margin-top: 78px;
            display: flex;
            align-items: center;
            & > img{
                width: 100%;
                padding: 2px;
                flex: 1;
            }
        }
    }
    @media (max-width: 1230px){
        &_steps{
            &_box{
                & > img:nth-child(2n){
                    width: 100px;
                }
            }
        }  
    }
    @media (max-width: 1040px){
        &_steps{
            &_box{
                & > img{
                    width: 50px;
                }
                & > img:nth-child(2n){
                    width: 50px;
                }
            }
        }  
    }
    @media (max-width: 768px){
        &_steps{
            display: none;
        }  
    }
    /* --STEPS----STEPS----STEPS-- */

    /* --FORM----FORM----FORM-- */
    &_form{
        position: relative;
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_h{
            width: fit-content;
            font-weight: 700;
            font-size: 30px;
            line-height: 106%;
            text-transform: uppercase;
            color: #ffffff;
            padding: 14px 28px;
            background-color: #000000;
            margin-bottom: 68px;
        }
        &_box{
            display: flex;
            justify-content: center;
            width: 100%;
            position: relative;
            &_content{
                border: #000000 2px solid;
                flex: 0 1 77%;
                margin-top: 33px;
                margin-right: 26px;
                &_1{
                    background-color: #000000;
                    position: absolute;
                    width: 2px;
                    height: 100px;
                    top: -340px;
                    left: 109.6%;
                    transform-origin: top left;
                    transform: rotate(90deg);
                }
                &_2{
                    background-color: #000000;
                    position: absolute;
                    width: 2px;
                    height: 442px;
                    top: -340px;
                    left: 109.6%;
                    transform-origin: top left;
                }
                &_3{
                    background-color: #000000;
                    position: absolute;
                    width: 2px;
                    height: 300px;
                    top: 100px;
                    left: 109.6%;
                    transform-origin: top left;
                    transform: rotate(90deg);
                }
                &_4{
                    display: none;
                }
                &_5{
                    display: none;
                }
                &_img{
                    width: 100%;
                    padding: 65px;
                    border: #000000 2px solid;
                    transform: translate(29px, -36px);
                    background: url('../src/form/Photo.png') right / cover no-repeat;
                }
                &_form{
                    display: flex;
                    align-items: center;
                    width: 354px;
                    flex-direction: column;
                    &_input{
                        width: 100%;
                        font-size: 15px;
                        line-height: 106%;
                        padding: 14px 30px 14px 30px;
                        border-radius: 22px;
                        background-color: #ffffff;
                        margin-bottom: 24px;
                        outline: none;
                        &:last-child{
                            margin-bottom: 15px;
                        }
                        &.error{
                            border: #000000 1px solid;
                        }
                    }
                    &_textarea{
                        font-family: inherit;
                        font-weight: inherit;
                        width: 100%;
                        height: 125px;
                        font-size: 15px;
                        line-height: 106%;
                        padding: 14px 30px 14px 30px;
                        border-radius: 22px;
                        background-color: #ffffff;
                        outline: none;
                        margin-bottom: 29px;
                        resize: none;
                        &.error{
                            border: #000000 1px solid;
                        }
                    }
                    &_button{
                        font-family: inherit;
                        font-weight: inherit;
                        width: fit-content;
                        color: #ffffff;
                        background-color: #000000;
                        padding: 14px 44px;
                        font-size: 15px;
                        line-height: 106%;
                        border-radius: 22px;
                        cursor: pointer;
                    }
                }
            }
        }
    }
    @media (max-width: 768px){
        &_form{
            &_h{
                font-size: 16px;
                padding: 8px 23px;
                margin-bottom: 38px;
            }
            &_box{
                &_content{
                    flex: 0 1 100%;
                    margin-top: 33px;
                    margin-left: 26px;
                    margin-right: 0px;
                    &_1{
                        display: none;
                    }
                    &_2{
                        display: none;
                    }
                    &_3{
                        left: 100%;
                        transform: rotate(-90deg);
                    }
                    &_4{
                        display: block;
                        background-color: #000000;
                        position: absolute;
                        width: 2px;
                        height: 300px;
                        top: -350px;
                        left: 15%;
                        transform-origin: top left;
                        transform: rotate(-90deg);
                    }
                    &_5{
                        display: block;
                        background-color: #000000;
                        position: absolute;
                        width: 2px;
                        height: 350px;
                        top: -350px;
                        left: 15%;
                        transform-origin: top left;
                    }
                    &_img{
                        padding: 57px 38px;
                        transform: translate(-29px, -36px);
                    }
                    &_form{
                        width: 265px;
                        &_input{
                            padding: 10px 20px;
                            border-radius: 22px;
                            margin-bottom: 17px;
                            &:last-child{
                                margin-bottom: 12px;
                            }
                        }
                        &_textarea{
                            height: 95px;
                            padding: 10px 20px;
                            margin-bottom: 20px;
                        }
                        &_button{
                            padding: 10px 38px;
                            
                        }
                    }
                }
            }
        }         
    }
    @media (max-width: 426px){
        &_form{
            &_box{
                &_content{
                    &_img{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                    &_form{
                        width: 265px;
                        &_input{
                            padding: 10px 20px;
                            border-radius: 22px;
                            margin-bottom: 17px;
                            &:last-child{
                                margin-bottom: 12px;
                            }
                        }
                        &_textarea{
                            height: 95px;
                            padding: 10px 20px;
                            margin-bottom: 20px;
                        }
                        &_button{
                            padding: 10px 38px;
                            
                        }
                    }
                }
            }
        }         
    }
    @media (max-width: 1250px){
        &_form{
            &_box{
                &_content{
                    &_1{
                        display: none;
                    }
                    &_2{
                        display: none;
                    }
                }
            }
        }
    }
    /* --FORM----FORM----FORM-- */

    /* --ADVANTAGE----ADVANTAGE----ADVANTAGE-- */
    &_advantage {
        width: 100%;
        position: relative;
        margin-top: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_h {
            width: fit-content;
            font-weight: 700;
            font-size: 30px;
            line-height: 106%;
            text-transform: uppercase;
            color: #ffffff;
            padding: 14px 28px;
            background-color: #000000;
            margin-bottom: 90px;
        }
        &_box {
            width: 100%;
            position: relative;
            display: flex;
            &_img{
                position: relative;
                flex: 0 1 30.6%;
                border: #000000 2px solid;
                margin-top: 32px;
                margin-right: 28px;
                & > img{
                    width: 100%;
                    border: #000000 2px solid;
                    transform: translate(30px, -35px);
                }
                &_1{
                    position: absolute;
                    top: -354px;
                    height: 400px;
                    width: 2px;
                    left: 50%;
                    background-color: #000000;
                }
            }
            &_content{
                flex: 0 1 69.4%;
                min-width: 0;   /* Обезательно для слайдера в flex */
                position: relative;
                margin-left: 70px;
                &_h{
                    font-size: 25px;
                    line-height: 106%;
                    text-transform: uppercase;
                    margin-bottom: 43px;
                }
                &_text{
                    font-size: 22px;
                    line-height: 106%;
                    margin-bottom: 67px;
                }
                &_box{
                    position: relative;
                }
                &_slider{
                    z-index: 2;
                    min-width: 0;   /* Обезательно для слайдера в flex */
                    position: relative;
                    /* Ограничивающая оболочка */
                    & .slick-list {
                        overflow: hidden;
                    }
                    /* Лента слайдов */
                    & .slick-track{
                        display: flex;
                    }
                    &_slide{
                        margin-right: 25px;
                        & > img {
                            border: #000000 2px solid;
                            width: 100%;
                        }
                    }
                    &_arrows{
                        position: absolute;
                        display: flex;
                        width: 100%;
                        justify-content: space-between;
                        top: 140%;
                        &> svg:hover{
                            cursor: pointer;
                            &>path{
                                stroke: #000000;
                            }
                        }
                    }
                    &_back{
                        z-index: 1;
                        position: absolute;
                        width: 100%;
                        top: 0;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        & > img{
                            flex: 0 1 20%;
                            min-width: 0;
                            margin-top: 25px;
                            &:nth-child(2n){
                                margin-top: -50px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1000px){
        &_advantage {
            &_box {
                &_content{
                    &_h{
                        font-size: 20px;
                    }
                    &_text{
                        font-size: 18px;
                    }
                }
            }
        }         
    }
    @media (max-width: 768px){
        &_advantage {
            margin-top: 50px;
            &_h {
                font-size: 16px;
                padding: 8px 23px;
                margin-bottom: 38px;
            }
            &_box {
                &_img{
                    display: none;
                    & > img{
                        width: 100%;
                        transform: translate(30px, -35px);
                    }
                }
                &_content{
                    flex: 0 1 100%;
                    margin-left: 0px;
                    &_h{
                        font-size: 16px;
                        margin-bottom: 12px;
                        padding: 0px 20px;
                    }
                    &_text{
                        font-size: 15px;
                        margin-bottom: 20px;
                        padding: 0px 20px;
                    }
                    &_box{
                        justify-content: center;
                        position: relative;
                        display: flex;
                        align-items: center;
                    }
                    &_slider{
                        &_slide{
                            border: #000000 2px solid;
                            margin-top: 25px;
                            margin-right: 33px;
                            & > img {
                                width: 100%;
                                transform: translate(30px, -35px);
                            }
                        }
                        &_arrows{
                            width: 50%;
                            top: 105%;
                        }
                        &_back{
                            display: none;
                        }
                    }
                }
            }
        }         
    }
    /* --ADVANTAGE----ADVANTAGE----ADVANTAGE-- */

    /* --ADVANTAGE2----ADVANTAGE2----ADVANTAGE2-- */
    &_advantage2 {
        width: 100%;
        position: relative;
        margin-top: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_h {
            width: fit-content;
            font-weight: 700;
            font-size: 30px;
            line-height: 106%;
            text-transform: uppercase;
            color: #ffffff;
            padding: 14px 28px;
            background-color: #000000;
            margin-bottom: 90px;
        }
        &_box {
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row-reverse;
            &_img{
                position: relative;
                flex: 0 1 45%;
                border: #000000 2px solid;
                margin-bottom: 32px;
                margin-left: 28px;
                & > img{
                    border: #000000 2px solid;
                    width: 100%;
                    transform: translate(-30px, 35px);
                }
                &_1{
                    position: absolute;
                    top: 100px;
                    height: 100px;
                    width: 2px;
                    right: -2px;
                    background-color: #000000;
                    transform-origin: top left;
                    transform: rotate(-90deg);
                }
                &_2{
                    position: absolute;
                    top: -300px;
                    height: 400px;
                    width: 2px;
                    right: -100px;
                    background-color: #000000;
                }
                &_3{
                    position: absolute;
                    top: -300px;
                    height: 142px;
                    width: 2px;
                    right: 40px;
                    background-color: #000000;
                    transform-origin: top left;
                    transform: rotate(-90deg);
                }
            }
            &_content{
                flex: 0 1 55%;
                min-width: 0;   /* Обезательно для слайдера в flex */
                position: relative;
                margin-right: 70px;
                &_h{
                    font-size: 25px;
                    line-height: 106%;
                    text-transform: uppercase;
                    margin-bottom: 43px;
                    text-align: right;
                }
                &_text{
                    font-size: 22px;
                    line-height: 106%;
                    margin-bottom: 67px;
                    text-align: right;
                }
                &_box{
                    position: relative;
                }
                &_slider{
                    display: flex;
                    justify-content: space-between;
                    z-index: 2;
                    position: relative;
                    &_slide{
                        min-width: 0;
                        flex: 0 1 30%;
                        border: #000000 2px solid;
                        width: 100%;
                    }
                    &_back{
                        z-index: 1;
                        position: absolute;
                        width: 100%;
                        top: -5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        & > img{
                            flex: 0 1 30%;
                            min-width: 0;
                            margin-top: 25px;
                            &:nth-child(2n){
                                margin-top: -50px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1250px){
        &_advantage2 {
            &_box {
                &_img{
                    &_2{
                       display: none;
                    }
                    &_3{
                        display: none;
                    }
                }
            }
        }         
    }
    @media (max-width: 1000px){
        &_advantage2 {
            &_box {
                &_content{
                    &_h{
                        font-size: 20px;
                    }
                    &_text{
                        font-size: 18px;
                    }
                }
            }
        }         
    }
    @media (max-width: 768px){
        &_advantage2 {
            margin-top: 100px;
            &_h {
                font-size: 16px;
                padding: 8px 23px;
                margin-bottom: 38px;
            }
            &_box {
                flex-direction: column-reverse;
                &_img{
                    
                }
                &_content{
                    flex: 0 1 100%;
                    margin-right: 0px;
                    &_h{
                        font-size: 16px;
                        margin-bottom: 12px;
                        padding: 0px 20px;
                        text-align: left;
                    }
                    &_text{
                        font-size: 15px;
                        margin-bottom: 20px;
                        padding: 0px 20px;
                        text-align: left;
                    }
                    &_box{
                        justify-content: center;
                        position: relative;
                        display: flex;
                        align-items: center;
                    }
                    &_slider{
                        display: none;
                        &_back{
                            display: none;
                        }
                    }
                }
            }
        }         
    }
    /* --ADVANTAGE2----ADVANTAGE2----ADVANTAGE2-- */

    /* --ADVANTAGE3----ADVANTAGE3----ADVANTAGE3-- */
    &_advantage3 {
        width: 100%;
        position: relative;
        margin-top: 170px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &_h {
            width: fit-content;
            font-weight: 700;
            font-size: 30px;
            line-height: 106%;
            text-transform: uppercase;
            color: #ffffff;
            padding: 14px 28px;
            background-color: #000000;
            margin-bottom: 90px;
        }
        &_box {
            width: 100%;
            position: relative;
            display: flex;
            &_img{
                position: relative;
                flex: 0 1 30.6%;
                border: #000000 2px solid;
                margin-bottom: 32px;
                margin-right: 28px;
                & > img{
                    border: #000000 2px solid;
                    width: 100%;
                    transform: translate(30px, 35px);
                }
                &_1{
                    position: absolute;
                    top: -250px;
                    height: 250px;
                    width: 2px;
                    left: 10%;
                    background-color: #000000;
                }
            }
            &_content{
                flex: 0 1 69.4%;
                min-width: 0;   /* Обезательно для слайдера в flex */
                position: relative;
                margin-left: 70px;
                &_h{
                    font-size: 25px;
                    line-height: 106%;
                    text-transform: uppercase;
                    margin-bottom: 43px;
                }
                &_text{
                    font-size: 22px;
                    line-height: 106%;
                    margin-bottom: 20px;
                }
                &_list{
                    margin-bottom: 80px;
                    padding-left: 30px;
                    &_item{
                        font-size: 22px;
                        line-height: 106%;
                        list-style:disc;
                    }
                }
                &_box{
                    position: relative;
                }
                &_slider{
                    display: flex;
                    justify-content: space-between;
                    z-index: 2;
                    position: relative;
                    &_slide{
                        min-width: 0;
                        flex: 0 1 23%;
                        border: #000000 2px solid;
                        width: 100%;
                    }
                    &_back{
                        z-index: 1;
                        position: absolute;
                        width: 100%;
                        top: -5px;
                        display: flex;
                        align-items: center;
                        justify-content: space-around;
                        & > img{
                            flex: 0 1 25%;
                            min-width: 0;
                            margin-top: 25px;
                            &:nth-child(2n){
                                margin-top: -50px;
                            }
                        }
                    }
                }
            }
        }
    }
    @media (max-width: 1000px){
        &_advantage3 {
            &_box {
                &_content{
                    &_h{
                        font-size: 20px;
                    }
                    &_text{
                        font-size: 18px;
                    }
                    &_list{
                        &_item{
                            font-size: 18px;
                        }
                    }
                }
            }
        }         
    }
    @media (max-width: 768px){
        &_advantage3 {
            margin-top: 43px;
            &_h {
                font-size: 16px;
                padding: 8px 23px;
                margin-bottom: 38px;
            }
            &_box {
                flex-direction: column-reverse;
                &_img{
                    &_1{
                        display: none;
                    }
                }
                &_content{
                    flex: 0 1 100%;
                    margin-left: 0px;
                    &_h{
                        font-size: 16px;
                        margin-bottom: 12px;
                        padding: 0px 20px;
                    }
                    &_text{
                        font-size: 15px;
                        margin-bottom: 20px;
                        padding: 0px 20px;
                    }
                    &_list{
                        margin-bottom: 15px;
                        &_item{
                            font-size: 15px;
                        }
                    }
                    &_box{
                        justify-content: center;
                        position: relative;
                        display: flex;
                        align-items: center;
                    }
                    &_slider{
                        display: none;
                        &_back{
                            display: none;
                        }
                    }
                }
            }
        }         
    }
    /* --ADVANTAGE3----ADVANTAGE3----ADVANTAGE3-- */
}
