@charset "UTF-8";
/* Обнуление */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 12px;
  background-color: #ffffff;
  height: 100%;
  color: #000000;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  min-height: 100%;
  overflow: hidden;
}

/*--CONTAINER----CONTAINER----CONTAINER--*/
._container {
  max-width: 1206px;
  margin: 0px auto;
}

/*--CONTAINER----CONTAINER----CONTAINER--*/
/* --HEADER----HEADER----HEADER-- */
.header {
  position: relative;
  padding: 34px 10px;
}
.header_container {
  display: flex;
  align-items: center;
}
.header_box {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu {
  position: relative;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu_list {
  position: relative;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header_menu_item {
  cursor: pointer;
}
.header_menu_item:hover {
  font-weight: 800;
}
.header_menu_item:not(:last-child) {
  margin-right: 40px;
}
.header_menu_item:nth-child(2) {
  margin-right: 235px;
}
.header_menu_button {
  margin-right: 10px;
  display: none;
}
@media (max-width: 768px) {
  .header_menu_list {
    display: none;
  }
  .header_menu_button {
    z-index: 10;
    margin-left: auto;
    display: block;
    cursor: pointer;
  }
}

/* --HEADER----HEADER----HEADER-- */
/* --MAIN----MAIN----MAIN-- */
.main {
  padding: 0px 10px;
  height: 100%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* --MAINPAGE----MAINPAGE----MAINPAGE-- */
  /* --MAINPAGE----MAINPAGE----MAINPAGE-- */
  /* --STEPS----STEPS----STEPS-- */
  /* --STEPS----STEPS----STEPS-- */
  /* --FORM----FORM----FORM-- */
  /* --FORM----FORM----FORM-- */
  /* --ADVANTAGE----ADVANTAGE----ADVANTAGE-- */
  /* --ADVANTAGE----ADVANTAGE----ADVANTAGE-- */
}
.main_container {
  position: relative;
  width: 100%;
}
.main_mainpage {
  margin-top: 90px;
  position: relative;
  display: flex;
  width: 100%;
  align-items: center;
}
.main_mainpage_info {
  align-self: flex-end;
  padding: 0px 10px;
  position: relative;
  flex: 1 1 40%;
  display: flex;
  flex-direction: column;
}
.main_mainpage_info_h {
  position: absolute;
  top: -450%;
  left: 35%;
  font-weight: 700;
  font-size: 50px;
  line-height: 106%;
  text-transform: uppercase;
  z-index: 10;
}
.main_mainpage_info_text {
  font-weight: 400;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  transform: translateY(30px);
}
.main_mainpage_box {
  z-index: 2;
  flex: 1 1 30%;
  position: relative;
  border: #000000 2px solid;
}
.main_mainpage_box_img {
  width: 100%;
  transform: translate(29px, -36px);
}
.main_mainpage_box:last-child {
  z-index: 1;
  background-color: #ffffff;
  flex: 1 1 30%;
  position: relative;
  border: #000000 2px solid;
  margin-top: -65px;
  margin-right: 29px;
}
.main_mainpage_box:last-child > img {
  width: 100%;
  transform: translate(30px, 35px);
}
.main_mainpage_box_1 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 100%;
  top: -100%;
  left: 90%;
}
.main_mainpage_box_2 {
  background-color: #000000;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 2px;
  height: 100%;
  top: -100%;
  left: 90%;
}
.main_mainpage_box_3 {
  background-color: #000000;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 2px;
  height: 100px;
  left: 0%;
  top: 90%;
}
.main_mainpage_box_4 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 550px;
  left: -102px;
  top: 90%;
}
.main_mainpage_box_5 {
  background-color: #000000;
  position: absolute;
  transform-origin: top left;
  transform: rotate(90deg);
  width: 2px;
  height: 100px;
  left: 0%;
  top: 936px;
}
@media (max-width: 1000px) {
  .main_mainpage_info_h {
    left: 30%;
    font-size: 40px;
  }
  .main_mainpage_info_text {
    width: 200px;
    font-size: 20px;
    transform: translateY(20px);
  }
}
@media (max-width: 1250px) {
  .main_mainpage_box_4 {
    display: none;
  }
  .main_mainpage_box_5 {
    display: none;
  }
}
@media (max-width: 768px) {
  .main_mainpage {
    flex-direction: column;
    margin-top: 30px;
    align-items: baseline;
  }
  .main_mainpage_info {
    align-self: flex-start;
  }
  .main_mainpage_info_h {
    position: relative;
    margin-top: 13px;
    margin-bottom: 0px;
    width: 180px;
    left: 0%;
    font-size: 20px;
  }
  .main_mainpage_info_text {
    display: none;
  }
  .main_mainpage_box {
    margin-right: 150px;
  }
  .main_mainpage_box_img {
    width: 100%;
    transform: translate(29px, -36px);
  }
  .main_mainpage_box:last-child {
    align-self: flex-end;
    margin-top: -25px;
    margin-right: 29px;
    margin-left: 150px;
  }
  .main_mainpage_box:last-child > img {
    width: 100%;
    transform: translate(30px, 35px);
  }
}
.main_steps {
  position: relative;
  margin-top: 300px;
}
.main_steps_info {
  font-weight: 400;
  font-size: 20px;
  line-height: 106%;
  text-align: center;
}
.main_steps_box {
  margin-top: 78px;
  display: flex;
  align-items: center;
}
.main_steps_box > img {
  width: 100%;
  padding: 2px;
  flex: 1;
}
@media (max-width: 1230px) {
  .main_steps_box > img:nth-child(2n) {
    width: 100px;
  }
}
@media (max-width: 1040px) {
  .main_steps_box > img {
    width: 50px;
  }
  .main_steps_box > img:nth-child(2n) {
    width: 50px;
  }
}
@media (max-width: 768px) {
  .main_steps {
    display: none;
  }
}
.main_form {
  position: relative;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main_form_h {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 28px;
  background-color: #000000;
  margin-bottom: 68px;
}
.main_form_box {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
.main_form_box_content {
  border: #000000 2px solid;
  flex: 0 1 77%;
  margin-top: 33px;
  margin-right: 26px;
}
.main_form_box_content_1 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 100px;
  top: -340px;
  left: 109.6%;
  transform-origin: top left;
  transform: rotate(90deg);
}
.main_form_box_content_2 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 442px;
  top: -340px;
  left: 109.6%;
  transform-origin: top left;
}
.main_form_box_content_3 {
  background-color: #000000;
  position: absolute;
  width: 2px;
  height: 300px;
  top: 100px;
  left: 109.6%;
  transform-origin: top left;
  transform: rotate(90deg);
}
.main_form_box_content_4 {
  display: none;
}
.main_form_box_content_5 {
  display: none;
}
.main_form_box_content_img {
  width: 100%;
  padding: 65px;
  border: #000000 2px solid;
  transform: translate(29px, -36px);
  background: url("../src/form/Photo.png") right/cover no-repeat;
}
.main_form_box_content_form {
  display: flex;
  align-items: center;
  width: 354px;
  flex-direction: column;
}
.main_form_box_content_form_input {
  width: 100%;
  font-size: 15px;
  line-height: 106%;
  padding: 14px 30px 14px 30px;
  border-radius: 22px;
  background-color: #ffffff;
  margin-bottom: 24px;
  outline: none;
}
.main_form_box_content_form_input:last-child {
  margin-bottom: 15px;
}
.main_form_box_content_form_input.error {
  border: #000000 1px solid;
}
.main_form_box_content_form_textarea {
  font-family: inherit;
  font-weight: inherit;
  width: 100%;
  height: 125px;
  font-size: 15px;
  line-height: 106%;
  padding: 14px 30px 14px 30px;
  border-radius: 22px;
  background-color: #ffffff;
  outline: none;
  margin-bottom: 29px;
  resize: none;
}
.main_form_box_content_form_textarea.error {
  border: #000000 1px solid;
}
.main_form_box_content_form_button {
  font-family: inherit;
  font-weight: inherit;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  color: #ffffff;
  background-color: #000000;
  padding: 14px 44px;
  font-size: 15px;
  line-height: 106%;
  border-radius: 22px;
  cursor: pointer;
}
@media (max-width: 768px) {
  .main_form_h {
    font-size: 16px;
    padding: 8px 23px;
    margin-bottom: 38px;
  }
  .main_form_box_content {
    flex: 0 1 100%;
    margin-top: 33px;
    margin-left: 26px;
    margin-right: 0px;
  }
  .main_form_box_content_1 {
    display: none;
  }
  .main_form_box_content_2 {
    display: none;
  }
  .main_form_box_content_3 {
    left: 100%;
    transform: rotate(-90deg);
  }
  .main_form_box_content_4 {
    display: block;
    background-color: #000000;
    position: absolute;
    width: 2px;
    height: 300px;
    top: -350px;
    left: 15%;
    transform-origin: top left;
    transform: rotate(-90deg);
  }
  .main_form_box_content_5 {
    display: block;
    background-color: #000000;
    position: absolute;
    width: 2px;
    height: 350px;
    top: -350px;
    left: 15%;
    transform-origin: top left;
  }
  .main_form_box_content_img {
    padding: 57px 38px;
    transform: translate(-29px, -36px);
  }
  .main_form_box_content_form {
    width: 265px;
  }
  .main_form_box_content_form_input {
    padding: 10px 20px;
    border-radius: 22px;
    margin-bottom: 17px;
  }
  .main_form_box_content_form_input:last-child {
    margin-bottom: 12px;
  }
  .main_form_box_content_form_textarea {
    height: 95px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .main_form_box_content_form_button {
    padding: 10px 38px;
  }
}
@media (max-width: 426px) {
  .main_form_box_content_img {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .main_form_box_content_form {
    width: 265px;
  }
  .main_form_box_content_form_input {
    padding: 10px 20px;
    border-radius: 22px;
    margin-bottom: 17px;
  }
  .main_form_box_content_form_input:last-child {
    margin-bottom: 12px;
  }
  .main_form_box_content_form_textarea {
    height: 95px;
    padding: 10px 20px;
    margin-bottom: 20px;
  }
  .main_form_box_content_form_button {
    padding: 10px 38px;
  }
}
@media (max-width: 1250px) {
  .main_form_box_content_1 {
    display: none;
  }
  .main_form_box_content_2 {
    display: none;
  }
}
.main_advantage {
  width: 100%;
  position: relative;
  margin-top: 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 300px;
}
.main_advantage_h {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  font-weight: 700;
  font-size: 30px;
  line-height: 106%;
  text-transform: uppercase;
  color: #ffffff;
  padding: 14px 28px;
  background-color: #000000;
  margin-bottom: 90px;
}
.main_advantage_box {
  width: 100%;
  position: relative;
  display: flex;
}
.main_advantage_box_img {
  position: relative;
  flex: 0 1 30.6%;
  border: #000000 2px solid;
  margin-top: 32px;
  margin-right: 28px;
}
.main_advantage_box_img > img {
  width: 100%;
  transform: translate(30px, -35px);
}
.main_advantage_box_img_1 {
  position: absolute;
  top: -354px;
  height: 400px;
  width: 2px;
  left: 50%;
  background-color: #000000;
}
.main_advantage_box_content {
  flex: 0 1 69.4%;
  min-width: 0; /* Обезательно для слайдера в flex */
  position: relative;
  margin-left: 70px;
}
.main_advantage_box_content_h {
  font-size: 25px;
  line-height: 106%;
  text-transform: uppercase;
  margin-bottom: 43px;
}
.main_advantage_box_content_text {
  font-size: 22px;
  line-height: 106%;
  margin-bottom: 67px;
}
.main_advantage_box_content_box {
  position: relative;
}
.main_advantage_box_content_slider {
  z-index: 2;
  min-width: 0; /* Обезательно для слайдера в flex */
  position: relative;
  /* Ограничивающая оболочка */
  /* Лента слайдов */
}
.main_advantage_box_content_slider .slick-list {
  overflow: hidden;
}
.main_advantage_box_content_slider .slick-track {
  display: flex;
}
.main_advantage_box_content_slider_slide {
  margin-right: 25px;
}
.main_advantage_box_content_slider_slide > img {
  border: #000000 2px solid;
  width: 100%;
}
.main_advantage_box_content_slider_arrows {
  position: absolute;
  display: flex;
  width: 100%;
  justify-content: space-between;
  top: 140%;
}
.main_advantage_box_content_slider_arrows > svg:hover {
  cursor: pointer;
}
.main_advantage_box_content_slider_arrows > svg:hover > path {
  stroke: #000000;
}
.main_advantage_box_content_slider_back {
  z-index: 1;
  position: absolute;
  width: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.main_advantage_box_content_slider_back > img {
  flex: 0 1 20%;
  min-width: 0;
  margin-top: 25px;
}
.main_advantage_box_content_slider_back > img:nth-child(2n) {
  margin-top: -50px;
}
@media (max-width: 768px) {
  .main_advantage {
    margin-top: 50px;
  }
  .main_advantage_h {
    font-size: 16px;
    padding: 8px 23px;
    margin-bottom: 38px;
  }
  .main_advantage_box_img {
    display: none;
  }
  .main_advantage_box_img > img {
    width: 100%;
    transform: translate(30px, -35px);
  }
  .main_advantage_box_content {
    flex: 0 1 100%;
    margin-left: 0px;
  }
  .main_advantage_box_content_h {
    font-size: 16px;
    margin-bottom: 12px;
    padding: 0px 20px;
  }
  .main_advantage_box_content_text {
    font-size: 15px;
    margin-bottom: 20px;
    padding: 0px 20px;
  }
  .main_advantage_box_content_box {
    justify-content: center;
    position: relative;
    display: flex;
    align-items: center;
  }
  .main_advantage_box_content_slider_slide {
    border: #000000 2px solid;
    margin-top: 25px;
    margin-right: 33px;
  }
  .main_advantage_box_content_slider_slide > img {
    width: 100%;
    transform: translate(30px, -35px);
  }
  .main_advantage_box_content_slider_arrows {
    width: 50%;
    top: 105%;
  }
  .main_advantage_box_content_slider_back {
    display: none;
  }
}/*# sourceMappingURL=styles.css.map */